version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zephyrflow
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./data:/app/seed
    networks:
      - app-network

  app:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/zephyrflow?schema=public
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - app-network
    volumes:
      - .:/app  # Bind mount to enable live reload
      # - /app/node_modules  # Avoid conflicts with host machine node_modules
    command: ["npm", "run", "dev"]

  # deploy:
  #   build: .
  #   environment:
  #     DATABASE_URL: postgresql://postgres:password@postgres:5432/zephyrflow?schema=public
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - postgres
  #   networks:
  #     - app-network
  #   command: ["yarn", "dev"]

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge
